box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: #f5f7fa;
    color: #1f2937;
    line-height: 1.45;
}
 
.fa {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
 
header {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 90px 16px;
    background-image: url(IMG_6187\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
 
header h1 {
    font-size: 50px;
    margin-bottom: 4px;
}
 
.subtitulo {
    opacity: 0.95;
    margin-top: 6px;
    color: #ffffff;
}
 
.nav-list {
    list-style: none;
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-top: -15px;
}
 
.nav-list a {
    color: #000000;
    text-decoration: ce;
    padding: 6px 10px;
    border-radius: 8px;
}
 
.nav-list a:hover {
    background: rgba(213, 17, 17, 0.06);
}
 
.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 9000%;
    border: 5px solid #09006a;
    background: linear-gradient(135deg,#000000,#e2e8f0);
    overflow: hidden;
    margin: -65px auto 10px;
    margin-top: 5 px;
}
 
main {
    max-width: 450px;
    margin: 24px auto 50px;
    padding: 0 160px;
    margin top: 30px;
}
 
.hero {
    text-align: center;
    padding: 28px 16px;
    background: #ffffff;
    border-radius: 120px;
    box-shadow: 0 6px 18px rgba(15,23,42,0.06);
}
 
.seccion {
    margin-top: 24px;
}
 
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    margin-top: 12px;
    weight: 35px;
    width: 25px;
    text-align: center;
}
 
.card {
    background: #e3e0ef00;
    width: px;
    border-radius: 1002px;
    padding: 25px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 40px 10px rgba(2,6,23,0.06);
    transition: transform 0.15s ease, box-shadow 0.15s ease, border 0.15s ease;
    border: 2px solid transparent;
    margin-top: 45px;
    text-align: center;
}
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(2,6,23,0.12);
    border-color: #3400f1;
}
 
.emoji {
    font-size: 26px;
    display: block;
    margin-bottom: 8px;
}
 
.card h4 {
    font-size: 16px;
    margin-bottom: 60px;
    color: #1e3a8a;
}
 
.card p {
    font-size: 14px;
    opacity: 0.85;
}
 
.socials {
    margin-top: 8px;
}
 
.socials a {
    display: inline-block;
    margin: 0 8px;
    color: #106ae8;
    background: #a91212;
    padding: 8px;
    border-radius: 8px;
}
 
footer {
    text-align: center;
    font-size: 16px;
    padding: 16px;
    background: #1e293b;
    color: #f1f5f9;
    margin-top: 90px;
}
 
footer a {
    color: #11100f;
    text-decoration: none;
}
 
footer a:hover {
    text-decoration: underline;
}